<!DOCTYPE html>
<html>
<head>
    <title>Détection de Phishing d'Email</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div id="logo-container">
            <img id="logo" src="{{ url_for('static', filename='dpe.png') }}" alt="Logo CyberProject">
        </div>
        <h1>Détection de Phishing d'Email</h1>
        <form id="emailForm">
            <label for="email_content">Contenu de l'e-mail :</label><br>
            <textarea id="email_content" name="email_content" rows="10" cols="80"></textarea><br><br>
            <button type="button" onclick="predictEmail()">Prédire</button>
        </form>
        <div id="predictionResult" style="margin-top: 20px;">
        </div>
        <input type="hidden" id="apiKey" value="{{ API_KEY }}">
    </div>
    <footer>
        © 2025 CyberProject by Emac sah
    </footer>

    <script>
        function predictEmail() {
            const emailContent = document.getElementById('email_content').value;
            fetch('/submit_email', { // Envoyer à /submit_email maintenant
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
		    'X-API-Key': document.getElementById('apiKey').value
                },
                body: JSON.stringify({ email_content: emailContent })
            })
            .then(response => response.json())
            .then(data => {
                const resultDiv = document.getElementById('predictionResult');
                if (data.error) {
                    resultDiv.textContent = `Erreur : ${data.error}`;
                    resultDiv.className = "";
                } else {
                    resultDiv.textContent = `Prédiction : ${data.prediction}`;
                    resultDiv.className = `prediction-${data.prediction.toLowerCase().replace(' ', '-')}`;
                }
            })
            .catch(error => {
                console.error('Erreur lors de la communication avec le serveur:', error);
                const resultDiv = document.getElementById('predictionResult');
                resultDiv.textContent = 'Erreur lors de la communication avec le serveur.';
                resultDiv.className = "";
            });
        }
    </script>
</body>
</html>